{{- define "main" -}}

{{/* Require Isotope */}}
{{ $.Page.Store.Set "has_isotope" true }}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
    <div class="row">
        <div class="col-lg-12">

            {{ with .Content }}
            <div class="article-style">{{ . }}</div>
            {{ end }}

            {{/* Array of distinct years. */}}
            {{ range $index, $item := .Pages.ByDate.Reverse }}
            {{ $year := print (.Date.Format "2006") }}
            {{ $.Scratch.SetInMap $year (string $index) $item }}
            {{ $.Scratch.SetInMap "annal" $year $year }}
            {{ end }}
            
            <div id="container-publications">
                {{ range $year := $.Scratch.GetSortedMapValues "annal"}}
                    <div>{{$year}}</div>
                    {{ range $index, $item := $.Scratch.Get $year }}
                        <div class='grid-sizer col-lg-12 isotope-item year-{{.Date.Format "2006" }}'>
                            {{ partial "functions/render_view" (dict "page" $ "item" . "view" ($.Params.view | default "compact") "index" $index) }}
                        </div>
                    {{ end }}
                {{end}}
            </div>
        </div>
    </div>
</div>

{{- end -}}