{{- define "main" -}}

{{/* Require Isotope */}}
{{ $.Page.Store.Set "has_isotope" true }}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
    <div class="row">
        <div class="col-lg-12">

            {{ with .Content }}
            <div class="article-style">{{ . }}</div>
            {{ end }}

            {{/* Array of distinct years. */}}
            {{ range $index, $item := .Pages.ByDate.Reverse }}
            {{ $year := print (.Date.Format "2006") }}
            {{ $index := string $index}}
            {{ $.Scratch.SetInMap $year $index $item }}
            {{ $.Scratch.SetInMap "annal" $year $year }}
            {{ end }}
            
            {{ $yearReversed := partial "reverse-slice.html" (.Scratch.Get "annal") }}
            {{ range $index, $year := .Scratch.Get "annal" }}
                <div>{{ $year }}</div>
            {{ end }}

            <div id="container-publications">
                {{ range $index, $item := .Scratch.Get "2023" }}
                <div class='grid-sizer col-lg-12 isotope-item year-{{.Date.Format "2006" }}'>
                    {{ partial "functions/render_view" (dict "page" $ "item" . "view" ($.Params.view | default "compact") "index" $index) }}
                </div>
                {{ end }}
            </div>


            <div id="container-publications">
                {{ range $index, $item := .Pages.ByDate.Reverse }}

                <div class='grid-sizer col-lg-12 isotope-item pubtype-{{ $.Scratch.Get " pubtype" }} year-{{.Date.Format "2006" }}'>
                    {{ partial "functions/render_view" (dict "page" $ "item" . "view" ($.Params.view | default "compact") "index" $index) }}
                </div>

                {{ end }}
            </div>

        </div>
    </div>
</div>

{{- end -}}